body{
    background: #1fd880;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 160px;
    position: absolute;
    top: 82%;
    background-image: url("../img/zemin.jpg");
}

.superman__fly{
    position: absolute;
    width: 340px;
    left: 40%;
    top: -50%;
    height: 465px;
    background-image: url("../img/superman_bottom.png");
    animation: superman 3s ease infinite;
}

@keyframes superman{
   0%{
    top: -50%;
   }

   50%{
    top: 25%;
   }

   100%{
    top: 33%;
   }
}